
// Header

#header-home {
  .section__title {
    @include ofuscate;
  }
}

#header-home {
  .subtitle {
    --color-subtitle: var(--color-text);
    animation: show-up .5s 2s both;
  }
  .description .btn {
    animation: show-up .5s 2.5s both;
  }
}
