@font-face {
    font-family: "trueno";
    src: url("/fonts/trueno-regular.eot");
    src: url("/fonts/trueno-regular.eot?#iefix") format("embedded-opentype"),
         url("/fonts/trueno-regular.woff2") format("woff2"),
         url("/fonts/trueno-regular.woff") format("woff"),
         url("/fonts/trueno-regular.ttf") format("ttf"),
         url("/fonts/trueno-regular.svg#TruenoRg") format("svg");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "trueno";
    src: url("/fonts/trueno-ultralight.eot");
    src: url("/fonts/trueno-ultralight.eot?#iefix") format("embedded-opentype"),
         url("/fonts/trueno-ultralight.woff2") format("woff2"),
         url("/fonts/trueno-ultralight.woff") format("woff"),
         url("/fonts/trueno-ultralight.ttf") format("ttf"),
         url("/fonts/trueno-ultralight.svg#TruenoUltLt") format("svg");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
